body {
  display: -ms-flexbox;
  display: flex;
  margin: 15px, 50px;
  padding: 5% 10%;
  font-family:serif;
  font-size: 18px;
  background-color: #D0F2EF
}
.header h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.header p {
  text-align: center;
  font-family: cursive;
}
.article p {
  text-align: left;
  padding-left: 35%;
  line-height: 1.7;
  font-weight: lighter;
  -ms-flex-pack: center;
      justify-content: center;
}
footer {
  margin-bottom: 0;
  margin-top: 50px;
  padding-bottom: 0;
  text-align: right;
  font-size: 14px;
  font-family: cursive;
}
footer p {
  float: right;
}
